/* dark-mode.css */

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fdf6e8;
    --text-secondary: #ddd;
    --text-muted: #aaa;
    --bg-primary: #1c1c1c;
    --bg-secondary: #2a2a2a;
    --accent-primary: #8fcbbc;
    --accent-secondary: #ffb066;
    --accent-hover: #ffa64d;
    --border-color: #444;
    --shadow-color: rgba(0, 0, 0, 0.4);
  }

  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
}
